h1{
    width: 960px;
    margin-left: 50%;
    width: 265px;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}

div{
     margin-left: 15%;
     position: relative;
}
ul{
     float: left;
     outline: solid 3px #444;
}
li{
     list-style-type: none;
}
img{
     height: 150px;
     width: 200px;
     margin: 30px;
     background: #333333;
}
.myChart{
     display: block;
     width: 300px;
     height: 300px;
}

#chartjs-hidden{
     width: 400px;
     display: block;
     border: 2px;
     height: 1px;
     margin: 0 auto;
     position: absolute;
     left: 0px;
     right: 0px;
     top: 0px;
     bottom: 0px;
}
